[user]
	name = Rafael Escribano
	email = {{ .gitEmail }}
[color]
	ui = auto
[core]
	autocrlf = input
[gc]
	autoDetach = false
[commit]
	template = ~/.gitmessage
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
# Machine-specific settings that don't belong in the public dotfiles repo
[include]
	path = ~/.gitconfig.local
