# Machine-specific hosts that don't belong in the public dotfiles repo.
# Must come before "Host *"; a missing file is ignored.
Include ~/.ssh/config.local

Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}
{{- /* 1Password isn't installed on work machines; there the built-in ssh-agent is used */ -}}
{{- if ne .machineType "work" }}
{{-   if eq .chezmoi.os "darwin" }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{-   else }}
  IdentityAgent "~/.1password/agent.sock"
{{-   end }}
{{- end }}
  IdentityFile ~/.ssh/id_rsa
